html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

/* index */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link__download {
  display: inline-block;
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url('/img/download.png');
  background-position: left center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.link:not(:last-child) {
  margin-right: 25px;
}

/* article */

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
  }

/* h1 
толщина шрифта 400

размер шрифта 60 пикселей

межстрочный интервал 60 пикселей

цвет текста #333*/
.main_title {
  margin-top: 0;
  margin-bottom: 40px;
}

/* h2 
размер шрифта 40 пикселей

межстрочный интервал 46 пикселей

цвет текста #333*/
.title {
  margin-top: 0;
  margin-bottom: 10px;
}

/* h3 
толщина шрифта 400

размер шрифта 30 пикселей

межстрочный интервал 34 пикселя

цвет текста #333 */
.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}

/* p 
толщина шрифта 400

размер шрифта 20 пикселей

межстрочный интервал 32 пикселя

цвет текста #333*/
.text {
  width: 872px;
  margin-top: 0;
  margin-bottom: 40px;
}

/* радиус бордера 20 пикселей

внутренние отступы - сверху и снизу по 50 пикселей, слева и справа по 95 пикселей

ширину 100%

толщину шрифта 700

размер шрифта 30 пикселей

цвет текста - белый

цвет фона #3f2aff*/
.text__blue-box {

}

/* добавьте каждому из блоков еще один класс, в котором будет только
свойство background-image. А стили для позиционирования фона пропишите в основной класс
https://skillbox.ru/media/base/kak_rabotat_s_fonovymi_kartinkami_v_css/*/
.gray-box {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

.background__image-decorate-1 {
  background-image: url('/img/decorate-1.png');
}

.background__image-decorate-2 {
  background-image: url('/img/decorate-2.png');
}

.gray-box:not(:last-child) {
  margin-bottom: 40px;
}

.gray-box .text{
  width: 692px;
  margin-bottom: 10px;
}

.list {
  margin: 0;
  padding-left: 15px;
}

/* бордер снизу толщиной в 1 пиксель, сплошной, и цветом #3f2aff

размер шрифта 20 пикселей

цвет текста #3f2aff */
.list__item:not(:last-child) {
  margin-bottom: 20px;
}

ul li::marker {
  color: #3f2aff;
  font-size: 1.5em;
}

.image {
  margin-bottom: 40px;
}

.image__content {
  display: inline-block;
  width: 872px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 0;
}

/* при этом удалите бордер сверху

внутренний отступ сверху и снизу 19 пикселей

толщина шрифта 400


выравнивание текста по центру */
.image__content figcaption {
  border-width: 1px;
  border-style: solid;
  border: #b6b6b6;
  font-size: 14px;
}
